* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef4f7;
  min-height: 100vh;
  padding: 20px;
}
.head {
  font-family: 'Roboto';
  text-decoration: underline;
  color: #334155;
}
.un-ordered-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 25px;
}
.travel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
